# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
ENV/
env/

# Virtualenv
*.egg-info/
dist/
build/

# IDE/editor directories
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Static server
*.db

# Backend local env
backend/.venv/
